.wrapper {
    position: relative;
    cursor: pointer;
}

.wrapper:hover .dropdownItem {
    color: var(--secondary-color);
}

.dropdownItem {
    color: white;
    display: flex;
    align-items: center;
    margin: 15px 11px;
    justify-content: space-between;
}

.wrapper:hover .options {
    transform: translate(0, 8px);
    opacity: 1;
    visibility: visible;
}

.arrowDown {
    font-size: 10px;
}

.options {
    border: 1px solid white;
    padding: 16px 22px;
    background-color: #001e45;
    position: absolute;
    left: 12px;
    top: 20px;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 1;
}

.options::after {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    position: absolute;
    top: -13px;
    left: 0;
}

.option {
    list-style: none;
    cursor: pointer;
    color: white;
    text-align: left;
    font-size: 14px;
}

.option:hover {
    color: var(--secondary-color);
}

.firstOption {
    margin: 5px 0;
    text-decoration: underline;
}

.otherOption {
    margin: 5px 0 5px 15px;
}
