.header {
    position: fixed;
    top: 0;
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
    height: var(--header-height);
    width: 100%;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
}

.contactBtn {
    border-radius: 8px;
    background-color: white;
    padding: 4px 12px;
    font-size: 14px;
    cursor: pointer;
}

.toggleBtn {
    display: none;
    cursor: pointer;
    z-index: 1;
}

.icon {
    color: #fff;
    font-size: 25px;
}

/* Navbar responsive */
.navbarOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.navbarMenu {
    position: fixed;
    background-color: var(--primary-color);
    top: 60px;
    right: 0;
    width: 100%;
    height: max-content;
    z-index: 4;
    display: none;
    padding: 10px 25px;
}

.navbarMenuList {
    margin: 10px 0;
    padding: 0 25px;
    text-align: center;
}

.active {
    animation: rotation 0.3s linear;
    animation-fill-mode: forwards;
}

.inactive {
    animation: rotationBack 0.3s linear;
    animation-fill-mode: forwards;
}

.navbarInput {
    display: none;
}

.navbarInput:checked ~ .navbarOverlay {
    display: block;
}

.navbarInput:checked ~ .navbarMenu {
    display: block;
}

.contactBtnNavbar {
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: white;
    padding: 4px 12px;
    font-size: 14px;
    cursor: pointer;
    width: max-content;
}

/* Tablet & Mobile */
@media only screen and (max-width: 1023px) {
    .header {
        padding: var(--padding-content);
    }
}

/* Tablet (width >= 740px & width < 1024px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile (width < 740px) */
@media only screen and (max-width: 739px) {
    .toggleBtn {
        display: block;
    }

    .dropdown,
    .contactBtn {
        display: none;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
